body {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.left {
    background-color: rgb(141, 141, 207);
    padding: 35px;
}

.right {
    min-width: 768px;
    background-color: rgb(215, 215, 240);
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.top {
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 0px 5px #050404;
    display: grid;
    grid-template-rows: 2fr 2fr;
}

.information {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.portfolio {
    padding: 50px 20px 35px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-columns: 2fr 2fr;
    column-gap: 15px;
    row-gap: 20px;
}

.project {
    background-color: brown;
}

.announcements {
    background-color: rgb(158, 127, 89);
}

.trending {
    background-color: rgb(44, 27, 7);
}

.search-bar {    
    padding-top: 20px;
    padding-left: 25px;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.top-lower-part {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
}

.search-bar > form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-button {
    background: none;
    border: none;
    fill: rgb(42, 66, 66);
}

.search-button:hover {
    cursor: pointer;
}

#searchbar {
    border: none;
    background-color: rgb(238, 228, 228);
    border-radius: 10px;
    width: 90%;
    height: 20px;
}

.portfolio > h3 {
    position: absolute;
    left: 20px
}

.links {    
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 30px;
}

.link {
    display: flex;
    align-items: center;
}

.links .link > a {
    text-decoration: none;
    font-weight: 700;
    color: white;
    font-size: 15px;
    padding-left: 10px;
}

.links > div:nth-child(7) {
    padding-top: 80px;
}

.links > .link > svg {
    display: inline-block;
    width: 25px;
}

.links > .link > svg path {
    fill: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > a {
    color: white;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
    padding-left: 10px;
}

.logo > svg {
    width: 50px;
}

.logo > svg path {
    fill: white;
}

.logo-small {
    height: 30px;
    border-radius: 25px;
}

.logo-big {
    height: 50px;
    border-radius: 25px;
}

.bell-button {
    background: none;
    border: none;    
}

.bell-button:hover {
    cursor: pointer;
}

.login-section {
    display: flex;
    align-items: center;
}

.greetings-section {
    display: block;
 }

 .greetings-section img {
    float: left;
 }

 .greetings-section p {
    display: block;
    margin: 0;
    padding-left: 10px;
 }
 
 .greetings-section p:first-child {
    margin-top: 0;
 }